body {
    max-height: inherit;
    font-family: "Segoe UI";
}

#background {
    opacity: 20%;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    width: 100%;
    height: 100%;
}

.button {
    color: white;
}

.signingIn {
    width: 50%;
    height: 28%;
    text-align: center;
    /*padding: 5%;*/
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow: auto;*/
    margin: auto;
}

.signingIn::after {
    content: "";
    clear: both;
    display: block;
}

.labelText {
    font-size: 20px;
    color: white;
}

.personalNumber {
    margin-bottom: 5%;
    border-radius: 5px;
}

.title {
    background-color: hsla(0, 0%, 100%, 0.2);
    opacity: 50%;
    padding-top: 2%;
    padding-right: 10%;
    font-size: 50px;
    color: white;
}

#slider {
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear(0, 1, 0.5, 1);
}

#slider.closed {
    max-height: 0;
}

#circle {
	width: 200px;
	height: 200px;
	background: rgba(255, 0, 0, 0);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
    border-color: black;
    border-style: solid;
}